<section class="card">
    <div class="card-body">
        <h1>José J. Pérez G</h1>
        <p>Trabajo de Aplicación Práctica</p>
        <p>PROGRAMACIÓN COMPUTACIONAL - PEV - BELLAVISTA</p>
    </div>
</section>