
<div class="card mt-4">
    <div class="card-body">


        <h1 class="display-4">Task App</h1>
        <p class="lead">Se requiere la implementación de un sistema para una institución de educación básica – media que permita mantener una vía de comunicación online con los apoderados. En la que estos podrán estar informados de las actividades y obligaciones de sus pupilos.

        Objetivo general
        Generar un vínculo en tiempo real de los apoderados con las actividades realizadas y deberes de los apoderados con sus pupilos.</p>
        <hr class="my-4">
        <p>Como parte del desarrollo del sistema se deben considerar las siguientes actividades </p>
        <ul>
            <li>Login de acceso</li>	
            <li>Comunicaciones online</li>
            <li>Hoja de vida de los alumnos</li>
            <li>Calendario de actividades del curso/establecimiento</li>
            <li>Establecer las reglas de negocio que rigen la ejecución de las transacciones que llevará a cabo el sistema</li>
            <li>Levantar y especificar los requerimientos relacionados con las funcionalidades específicas y características del sistema</li>
            <li>Modelar la solución en lenguaje UML</li>
        </ul>

    </div>

</div>